<!-- template -->
<!-- On form submit, we call the Login event with the username and the password from the inputs -->
<form (submit)="login($event, username.value, password.value)">
  <div class="mdl-textfield mdl-js-textfield textfield-demo">
  <input type="text" #username class="form-control" id="username" class="mdl-textfield__input">
  <label class="mdl-textfield__label" for="username">Username</label>  <!-- Using #username, we can identify this input to get the value on the form's submit event -->
</div>
<div class="mdl-textfield mdl-js-textfield textfield-demo">
  <!-- Using #password we can identify this input to get its value -->
  <input type="password" #password class="form-control" id="password" class="mdl-textfield__input">
  <label class="mdl-textfield__label" for="password">Password</label>  <!-- Using #username, we can identify this input to get the value on the form's submit event -->
  </div>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
    Submit
</button>
</form>
